/*!Prod!
 * re-worked in Ahswood Creative: http://ashwood.by
 * Developer: https://github.com/mepfunc
 * Contacts: https://t.me/x1110
 */

/* global */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	max-width: 920px;
	margin: 0 auto;
	width: 100%;
	font-family: sans-serif;
	background-color: #00abe8;
	font-size: 14px;
	color: #fff;
}

/* header */
.header {
	position: relative;
	color: #fff;
	text-align: center;
}
.header > img {
	width: 100%;
}
.header > .headline {
	position: absolute;
	bottom: 20px; left: 0; right: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
}
.header > .headline > span {
	font-size: 18px;
}

/* JUST DO IT STEPS */
.just-do-it {
	background-color: #fff;
	color: #00abe8;
}
.just-do-it-list {
	list-style: none;
	padding: 45px 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.just-do-it-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	margin: 0 35px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
}
.just-do-it-item > img {
	margin: 0 auto 15px;
}
.just-do-it-item:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	right: -35px;
	top: 50%;
	transform: translateY(-50%);
  border: 10px solid transparent;
	border-left-color: #00abe8;
}
.just-do-it-item:last-child:after {
	display: none;
}

/* todo */
.todo {
	margin: 20px 0;
	font-size: 24px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.todo > img {
	margin-right: 18px;
}
.todo > .text {
	line-height: 36px;
}

/* banner */
.bannerplace {
	background-color: #fff;
	min-height: 95px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.bannerplace > img {
	margin: auto;
}

/* places */
.places {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.places-list {
	list-style: none;
	padding: 0;
	margin: 25px auto;
	font-size: 18px;
}

/* link */
.link {
	color: #00468b;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	display: block;
	margin-bottom: 30px;
	font-weight: bold;
}

/* form */
form > * {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form > h1 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
form > .group {
	text-align: center;
}
form > .group > input {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	font-size: 18px;
	height: 35px;
}
form > .group > input[type='email'] {
	padding: 10px 15px;
	width: 330px;
}
form > .group > input[type='submit'] {
	text-transform: uppercase;
	width: 200px;
	color: #fff;
	border-radius: 50px;
	cursor: pointer;
	/* Old browsers */
	background: #5edef0;
	/* FF3.6-15 */
	background: -moz-linear-gradient(top, #5edef0 0%, #008cff 50%, #5edef0 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(top, #5edef0 0%, #008cff 50%, #5edef0 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom, #5edef0 0%, #008cff 50%, #5edef0 100%);
	/* IE6-9 */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5edef0', endColorstr='#5edef0', GradientType=0 );
}

/* footer */
.footer {
	margin: 35px 0;
}
.footer > .text {
	font-size: 12px;
	padding-bottom: 20px;
}
.footer > img {
	width: 100%;
}

/* desktop */

.mobile {
	display: none;
}


/* media 920 */
@media screen and (max-width: 919px) {
	body {
		max-width: 720px;
	}
	.header > .headline {
		bottom: 10px;
	}
}
/* media 720 */
@media screen and (max-width: 719px) {
	body {
		max-width: 320px;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.header > .headline {
		line-height: 1;
	}
	.header > .headline > .first {
		font-size: 24px;
		line-height: 26px;
	}
	.header > .headline > .second {
		font-size: 12px;
		line-height: 14px;
	}
	.just-do-it-list {
		flex-flow: column;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.just-do-it-item {
		flex-flow: row;
		flex-direction: row-reverse;
		justify-content: center;
		margin-bottom: 15px;
	}
	.just-do-it-item > img {
		width: 54px;
		height: 54px;
		min-width: 54px;
		min-height: 54px;
		margin: auto auto auto 15px;
	}
	.just-do-it-item > .text {
		font-size: 13px;
		font-weight: bold;
		margin: auto;
	}
	.just-do-it-item:after {
		display: none;
	}

	.todo {
		text-align: left;
		margin-left: 35px;
		margin-right: 35px;
	}
	.todo > .text {
		font-size: 14px;
		line-height: 16px;
		margin: 0;
	}
	.todo > img {
		width: 24px;
		height: 24px;
		min-height: 24px;
		min-width: 24px;
		margin-right: 5px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.bannerplace > img {
		max-width: 150px;
		width: 150px;
		min-width: 150px;
	}

	.places-list {
		font-size: 10px;
	}

	.link {
		margin-top: 22px;
		font-size: 8px;
	}

	form > h1 {
		font-size: 12px;
	}
	form > .group > input {
		font-size: 8px;
		height: 22px;
	}
	form > .group > input[type='email'] {
		width: 150px;
	}
	form > .group > input[type='submit'] {
		width: 82px;
	}

	.footer > .text {
		font-size: 6px;
		padding-bottom: 10px;
	}
}
